*{
    padding:0;
    border:0;
    margin:0;
    font-family: 'Montserrat', sans-seriff;
}

/*cabecera*/
header {
    grid-area: cabecera;
    display:grid;
    grid-template-rows: auto auto auto;
}

header .navbar{
    padding: 10px 200px;
}

.header-logo {
    text-align: center;
    padding-top:50px;
    padding-bottom:25px;
    /*padding-right:25px;*/
}

.header-logo img{
    width: 1000px;
}

.header-menu ul{
    display:grid;
    grid-template-columns: 6fr 2fr 2fr 2fr 2fr 2fr 2fr 7fr;
    list-style: none;
    text-align: center;
    /*padding-top: 100px;*/
}

.header-menu ul a{
    color:rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

/*footer*/
footer{
    grid-area: pie;
    display:grid;
    grid-template-rows: 2fr 1fr;
}

.footer-logo{
    text-align: center;
    padding-top: 30px;
}

.footer-logo img{
    width: 500px;
}

.footer-enlaces{
    text-align:center;
    padding-bottom: 30px;
}

.footer-enlaces img {
    width:20px;
}

/*Página Web Index*/
#index {
    background-color: #e7dbc3;
    display:grid;
    grid-template-areas:
        "cabecera"
        "indexmain"
        "pie";
    grid-template-rows: auto auto auto;
}

/*index-main*/
#index main {
    grid-area:indexmain;
    display:grid;
    grid-template-areas:
        "dictionary"
        "tools"
        "courses";
    /*grid-template-columns: auto;*/
    grid-template-rows: auto;
    padding: 0px 200px;
}

#index h1 a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#index h2 a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#index p{
    line-height:20px;
    text-align: justify;
}

/*index-dictionary*/
.index-dictionary{
    grid-area: dictionary;
    color: rgb(0, 0, 0);
    padding:10px;
    border: 5px solid white;
}

.index-dictionary .container{
    background-color: #ffffff;
    width: 90vmin;
    padding:80px 50px;
    margin-bottom:25px;
    border-radius: 10px;
    box-shadow: 0 20px 40px rgba(38,33,61,0,2);
}

.index-dictionary .search-box {
    width: 100%;
    display: flex;
    justify-content:space-between;
}

.index-dictionary .search-box input{
    padding: 5px;
    width:70%;
    border: none;
    outline: none;
    border-bottom: 3px solid #e7dbc3;
    font-size: 16px;
    color:black;
    }

.index-dictionary .search-box button{
    padding: 15px 0;
    width: 25%;
    background-color: #e7dbc3;
    border:none;
    outline:none;
    color:#000000;
    border-radius:5px;
}

.index-dictionary h3{
    font-size: 30px;
    color: black;
}

.index-dictionary .result .word{
    justify-content: space-between;
    margin-top: 80px;
}

.index-dictionary .result .details{
    gap:10px;
    color:grey;
    margin: 5px 0 20px 0;
    font-size:14px;
}

.index-dictionary .word-meaning{
    color:rgb(48, 48, 48);
}

.index-dictionary .word-example {
    color:(48, 48, 48);
    font-style: italic;
    border-left:5px solid #e7dbc3;
    padding-left: 20px;
    margin-top: 30px;
}

/*index-tools*/
.index-tools{
    grid-area: tools;
    color: rgb(0, 0, 0);
    padding:10px;
    border: 5px solid white;
}

.index-tools textarea{
    width:500px;
    margin:0px 500px;
}

.index-tools #practica{
    width:500px;
    margin:0px 500px;
}

.index-tools button{
    margin:5px 500px;
}

.index-tools button.acierto {
    background-color: green;
    color: white;
}

.index-tools #feedback{
    color: red;
}

/*index-courses*/
.index-courses{
    grid-area: courses;
    color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns:1fr 8fr;
    padding:10px;
    border: 5px solid white;
}

.index-courses-layout {
    display:grid;
    grid-template-rows: auto auto;
}

.index-courses-layout .filters form{
    width: 300px;
    margin: 20px 0px 0px 0px;
}

.index-courses-layout .filters #selectOrder{
    width: 300px;
    margin: 10px 50px 10px 15px;}

#index-courses-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#index-courses-content img{
    width: 300px;
    margin: 10px;
    box-shadow: 3px 3px 10px gray;
    border-radius:10px;
}

.index-courses-layout .seemore {
    text-align: end;
    padding-right: 20px;
}

.index-courses-layout .seemore a{
    padding-top: 20px;
    font-size: 18px;
    color: rgb(0, 0, 0);
}

/*iPhone14 vertical viewport*/
@media (max-width: 390px) {
    /*cabecera*/
    header {
        grid-template-columns: 1fr;
        grid-template-rows:auto auto;
    }

    .header-logo {
        text-align: center;
        padding-bottom:0px;
        padding-right:0px;
    }
    
    .header-logo img{
        width: 200px;
    }

    .header-menu ul{
        grid-template-columns: 2fr 2fr 2fr 3fr 2fr;
        padding-top: 30px;
        padding-left:10px;
        padding-right:30px;
        padding-bottom: 20px;
    }

    .header-menu ul a{
        font-size: 24px;
    }
    
    /*footer*/
    footer{
        grid-template-columns:1fr;
        grid-template-rows: auto auto;
    }

    .footer-logo img{
        width:220px;
        padding-top: 30px;
    }

    .footer-enlaces img{
        width: 40px;
        padding-top:21px;
    }

    /*Página Web Index*/

    /*index-main*/
    #index main {
        display:grid;
        grid-template-areas:
            "enlaces"
            "blog"
            "juegos"
            "aside1"
            "aside2"
            "miembros"
            "contacto";
        grid-template-columns: 1fr;
        grid-template-rows: repeat (7, auto);
    }

    #index p{
        line-height:30px;
    }

    #index h2{
        padding-bottom: 15px;
    }

    #index .vermas{
        padding-top:20px;
        padding-bottom:20px;
    }

    #index .vermas a{
        font-size:25px;
        padding-top:200px;
        padding-bottom:20px;
    }

    /*index-enlaces*/
    .index-enlaces{
        grid-template-rows:auto auto;
    }

    .index-enlaces a{
        font-size:16px;
    }

    .index-enlaces1 {
        padding-top:30px;
    }
    
    .index-enlaces2 {
        padding-bottom:30px;
    }

    /*index-blog*/
    .index-blog {
        grid-template-columns:1fr;
        grid-template-rows:auto auto;
    }
    
    .index-blog h1 {
        font-size: 36px;
    }

    .index-blog-content h3{
        font-size:30px;
        padding-top:25px;
        padding-bottom:25px;
    }

    .index-blog-content p{
        font-size:24px;
    }

    /*index-juegos*/
    .index-juegos{
        grid-template-columns:1fr;
        grid-template-rows:auto auto;
    }

    .index-juegos h2{
        font-size:36px;
    }

    .index-juegos-content{
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }

    .index-juegos-content img{
        width: 240px;
    }

    /*index-miembros*/
    .index-miembros{
        grid-template-columns:auto;
        grid-template-rows: auto auto auto;
    }

    .index-miembros h2{
        font-size: 36px;
    }
    .index-miembros a{
        text-align: center;
    }

    .index-miembros img{
        width: 210px;
    }

    .index-miembros p{
        Font-size: 24px;
    }

    /*index-contacto*/
    .index-contacto{
        grid-template-columns:1fr;
        grid-template-rows: auto auto;
    }

    .index-contacto h2{
        font-size:36px;
    }

    .index-contacto p{
        font-size: 26px;
    }
}

/* iPad Pro vertical viewport */
@media (min-width: 390px) and (max-width: 1024px) {
    /*Everything en index*/
    #index h1 {
        font-size:46px;
        padding-top:10px;
        padding: 25px;
    }
    
    #index h2 {
        font-size:46px;
        padding-top:10px;
        padding: 25px;
    }
    
    #index h3 {
        font-size:38px;
        padding-top:10px;
        padding-left:25px;
    }
    
    #index p{
        font-size:32px;
        text-align: justify;
        padding: 25px;
        line-height:45px;
    }

    #index .vermas{
        padding-top:20px;
        padding-bottom:20px;
        padding-right:50px;
    }

    #index .vermas a{
        font-size:32px;
        padding-top:200px;
        padding-bottom:20px;
    }

    /*cabecera*/
    .header-logo {
        text-align: center;
        padding-top:50px;
        padding-bottom:50px;
        padding-left:50px;
    }
    
    .header-logo img{
        width: 280px;
    }

    .header-menu ul{
        grid-template-columns: 1fr 2fr 2fr 3fr 2fr;
        padding-top: 160px;
        padding-left:10px;
        padding-right:50px;
        padding-bottom: 0px;
    }

    .header-menu ul a{
        font-size: 28px;
    }
    
    /*footer*/
    footer{
        grid-template-columns:1fr;
        grid-template-rows: auto auto;
    }

    .footer-logo img{
        width:220px;
        padding-top: 30px;
    }

    .footer-enlaces img{
        width: 40px;
        padding-top:21px;
    }

    /*index-main*/
    #index main {
        grid-template-areas:
            "enlaces"
            "blog"
            "aside1"
            "juegos"
            "aside2"
            "miembros"
            "contacto";
        grid-template-columns: 1fr;
        grid-template-rows: repeat (7, auto);
    }

    /*index-enlaces*/
    .index-enlaces{
        grid-template-rows:auto auto;
    }

    .index-enlaces a{
        font-size:25px;
        padding-left:15px;
        padding-bottom:15px;
    }

    .index-enlaces img {
        width:35px;
        padding-right:5px;
    }

    .index-enlaces1 {
        padding-top:30px;
    }
    
    .index-enlaces2 {
        padding-bottom:30px;
    }

    /*index-blog*/
    .index-blog {
        grid-template-columns:1fr;
        grid-template-rows:auto auto;
    }
    
    .index-blog-content1 {
        padding-right:0px;
    }

    /*index-juegos*/
    .index-juegos{
        grid-template-columns:1fr;
        grid-template-rows:auto auto;
    }

    .index-juegos-content{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        text-align:center;
    }

    .index-juegos-content img{
        width: 380px;
    }

    /*index-miembros*/
    .index-miembros{
        grid-template-columns:auto;
        grid-template-rows: auto auto auto;
    }

    .index-miembros a{
        text-align: center;
    }

    .index-miembros img{
        width: 360px;
    }

    /*index-contacto*/
    .index-contacto{
        grid-template-columns:1fr;
        grid-template-rows: auto auto;
    }
} 